@using System.Security.Claims
@using Naif.Blog.Models
@using Naif.Blog.ViewModels;

@model BlogViewModel

@{
    var user = new UserProfile
    {
        Name = User.Identity.Name,
        EmailAddress = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value,
        ProfileImage = User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value
    };
}

<section>
    <h2>User Profile</h2>
    <section nb-profile-name="@user.Name" 
             nb-profile-email="@user.EmailAddress" 
             nb-profile-image="@user.ProfileImage"></section>
</section>
