@using Naif.Blog.Models;
@using Naif.Blog.ViewComponents;

@model IEnumerable<Post>

@{
    foreach (var post in Model)
    {
        <section>
			@await Component.InvokeAsync(typeof(ExcerptViewComponent), 
											new { post = post })
		</section>
	}
}