@using Naif.Blog.ViewModels;

@model PagedListViewModel

@{
    foreach (var post in Model.Posts)
    {
		<section>
		    <vc:excerpt post="@post"></vc:excerpt>
		</section>
	}
}

<vc:pager pager="@Model.Pager"></vc:pager>
