@using Microsoft.AspNetCore.Mvc
@model System.Collections.Generic.Dictionary<string, int>

<section>
  <h2>Tags</h2>
  <div id="tagCloud" style="width: 350px; height: 350px;"></div>
</section>

<script type="text/javascript">
      /*
       * Create an array of tags, each representing a tag in the cloud
       */
    var tags = [
        @{
            foreach (var tag in Model)
            {
                var link = Url.Action("ViewTag", "Blog", new { tag = tag.Key });
                var element = $"{{text: '{tag.Key}', weight: {tag.Value}, link: '{link}'}},";
                <text>@Html.Raw(element)</text>
            }
        }
    ];

    $(function () {
        // When DOM is ready, select the container element and call the jQCloud method, passing the array of tags as the first argument.
        $("#tagCloud").jQCloud(tags, { encodeURI: false});
    });
</script>