@using Naif.Blog.ViewModels

@model BlogViewModel


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Blog.Title Theme 2</title>

    <vc:client-dependency></vc:client-dependency>

    <link rel="stylesheet" href="~/themes/theme2/theme2.css" />
    <link href="~/wlwmanifest.xml" rel="wlwmanifest" type="application/wlwmanifest+xml">
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Post" asp-action="Index" class="navbar-brand">@Model.Blog.Title</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Post" asp-action="Index">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Naif.Blog</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
