@using Naif.Blog.Models;
@using Naif.Blog.ViewComponents;

@model IEnumerable<Post>

<section>
    <h2>Articles</h2>
    @await Component.InvokeAsync(typeof(ListViewComponent), new { list = Model })
</section>
