@using Microsoft.Extensions.Options
@using Naif.Blog.Models

@inject IOptions<BlogOptions> BlogOptionsAccessor

@{
    var options = BlogOptionsAccessor.Value;
    var copyright = $"&copy; {DateTime.Now.Year} - {options.Title}";
}

<p>@Html.Raw(copyright)</p>
