body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #515151;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: 24px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    body {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .navbar-brand {
        font-size: 24px;
    }

    .banner h1 {
        font-size: 48px;
        letter-spacing: -0.03em;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    body {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }
}

.body-content {
    padding-top: 70px;
}

article {
    position: relative;
}

article header {
    margin-top: 0;
    margin-right: 0;
    margin-left: 7.5em;
    margin-bottom: 1em;
}

article.post header {
    min-height: 130px;
}

article.excerpt section {
    margin-left: 7.5em;
    margin-bottom: 1em;
}

.info {
    box-sizing: border-box;
    position: absolute;
    background-color: #eee;
    width: 6em;
    overflow: hidden;
    top: 0;
    padding: 0.75em;
    border-radius: .4em;
    box-shadow: 0 0 .25em 0 rgba(0,0,0,0.25);
}

.info .date {
    position: relative;
    z-index: 1;
    font-family: 'Open Sans Condensed',sans-serif;
    font-weight: 400;
    text-align: center;
    display: block;
    font-size: 1.5em;
    color: #999;
}

.info .date .day {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    color: #999;
}

.info .date .year {
    display: block;
    font-size: .9em;
    font-weight: 700;
    color: #999;
}

article.post header div {
    padding-top: 10px;
}

article.post header a {
    padding: 4px 8px;
    margin-right: 8px;
    border-radius: .4em;
    box-shadow: 0 0 .25em 0 rgba(0,0,0,0.25);
}

section .jqcloud {
    height: 350px;
    width: 100%;
}

div.bootstrap-tagsinput {
    display: block;
}

div.bootstrap-tagsinput .label{
    display: inline;
    padding: 0em .6em .1em;
    font-weight: 700;
    color: #fff;
    border-radius: .25em;
}

div.bootstrap-tagsinput .label-info{
    background-color: #5bc0de;
}

input.form-control.input-validation-error{
    border-color: #dc3545;
    box-shadow : 0px 0px 0px 0.2rem rgba(220,53,69,0.25);
}

span.invalid-feedback.field-validation-error {
    display:block;
}
