@using Naif.Blog.ViewComponents
@using Naif.Blog.ViewModels;

@model BlogViewModel

@{
    Layout = "_AdminLayout";
}

<section>
    <h2>Pages</h2>
    @await Component.InvokeAsync(typeof(PagedListViewComponent), new { list = Model.Pages, pageCount = 10, pageIndex = Model.PageIndex, isPage = true, isTable = true })
</section>
