@model Dictionary<string, int>

<section>
    <h2>Categories</h2>
    @if(Model.Count > 0)
    {
        <ul>
            @{ 
                foreach(var category in Model)
                {
                    var linkText = $"{category.Key} - ({category.Value})";
                    var link = $"/category/{category.Key}";
                    <li><h4><a href="@link">@linkText</a></h4></li>
                }
            }
        </ul>
    }
</section>