@using Naif.Blog.ViewModels;

@model BlogViewModel

@{
    Layout = "_AdminLayout";
}

<section>
    <h2>Blog Settings</h2>
    <form asp-controller="Admin" method="post">
        <input asp-for="Blog.Id" class="form-control" type="hidden">
        <div class="form-group">
            <label asp-for="Blog.Title"></label>
            <input asp-for="Blog.Title" class="form-control" placeholder="Title">
        </div>
        <div class="form-group">
            <label asp-for="Blog.ByLine"></label>
            <input asp-for="Blog.ByLine" class="form-control" placeholder="ByLine">
        </div>
        <div class="form-group">
            <label asp-for="Blog.Url"></label>
            <input asp-for="Blog.Url" class="form-control" placeholder="Url">
        </div>
        <div class="form-group">
            <label asp-for="Blog.LocalUrl"></label>
            <input asp-for="Blog.LocalUrl" class="form-control" placeholder="LocalUrl">
        </div>
        <div class="form-group">
            <label asp-for="Blog.Theme"></label>
            <input asp-for="Blog.Theme" class="form-control" placeholder="Theme">
        </div>
        <div class="form-group">
            <label asp-for="Blog.Disclaimer"></label>
            <input asp-for="Blog.Disclaimer" class="form-control" placeholder="Disclaimer">
        </div>
        <div class="form-group">
            <label asp-for="Blog.GoogleAnalytics"></label>
            <input asp-for="Blog.GoogleAnalytics" class="form-control" placeholder="GoogleAnalytics">
        </div>
        <button type="submit" class="btn btn-primary" asp-action="Save">Submit</button>
    </form>
</section>
